
A {
	TEXT-DECORATION: underline;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
A:link {
	COLOR: #000000;
	text-decoration: none;

}
A:visited {
	COLOR: #CCCCCC; TEXT-DECORATION: none
}
A:hover {
	COLOR: #666666; TEXT-DECORATION: none
}
A.bottom {
	TEXT-DECORATION: none
}
A.bottom:link {
	COLOR: #5a6657
}
A.bottom:visited {
	COLOR: #5a6657
}
A.bottom:hover {
	COLOR: #ffffff
}
A.menue {
	FONT-WEIGHT: bolder;
	FONT-SIZE: 10pt;
	TEXT-DECORATION: none;
	color: #CCCCCC;
}
A.menue:link {
	COLOR: #CCCCCC;
	font-weight: bolder;
}
A.menue:visited {
	COLOR: #999999;
	font-weight: bolder;
}
A.menue:hover {
	COLOR: #666666;
	font-weight: bolder;
}
A.nav {
	TEXT-DECORATION: none
}
A.nav:link {
	COLOR: #c4cfc2
}
A.nav:visited {
	COLOR: #c4cfc2
}
A.nav:hover {
	COLOR: #ffffff
}
H1 {
	FONT-WEIGHT: bold;
	FONT-SIZE: 12pt;
	COLOR: #CCCCCC;
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
	LETTER-SPACING: 2px;
	text-decoration: none;
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 9pt; COLOR: #8b8b8b; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; LETTER-SPACING: 1px
}
TD {
	FONT-SIZE: 8pt; COLOR: #5a6657; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.prev {
	FONT-SIZE: 8pt; COLOR: #909a8f; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.inter {
	FONT-SIZE: 10pt; COLOR: #000000; LINE-HEIGHT: 15pt; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.td2 {
	FONT-SIZE: 8pt; COLOR: #c4cfc2; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.td3 {
	FONT-SIZE: 7pt; COLOR: #c4cfc2; LINE-HEIGHT: 11px; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.stop {
	FONT-WEIGHT: bold; FONT-SIZE: 10pt; COLOR: #000000; TEXT-DECORATION: none
}
.form {
	PADDING-LEFT: 3px; FONT-SIZE: 9pt; COLOR: #5a6657; FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; BACKGROUND-COLOR: #bdc2bc
}
.PopHead {
	FONT-WEIGHT: bold;
	FONT-SIZE: 10pt;
	COLOR: #CCCCCC;
	LINE-HEIGHT: 13pt;
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	text-decoration: none;
}
.warning {
	font-family:Arial, Helvetica, sans-serif;
	font-size:xx-small;
	font-weight: normal;
	text-align: center;
	vertical-align: middle;
	color: #FF00FF;
	text-decoration: none;
	background-position: center top;
};
.bold {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
}
.HeadWhite {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-style: normal;
	font-weight: bold;
	color: #CCCCCC;
}
A.nav {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #000033;
	text-decoration: none;
}
A.nav:link {
	COLOR: #666666}
A.nav:visited {
	COLOR: #666666}